body {
    background-color: black;
    border: 5px inset gold;
    padding: 10px 50px;
    margin: 0px;
}
h1 {
    background-color: #111111;
    border: 5px outset gold;
    color: gold;
}
ul li {
    background: #111111;
    padding: 10px;
    margin: 20px;
    text-align: left;
}
a {
    border: 2px outset gold;
    color: gold;
    text-decoration: none;
}
a:hover {
    border: 2px inset gold;
    text-decoration: none;
}
th {
    border: 2px solid gold;
    color: gold;
}
td {
    color: gold;
}
p {
    color: gold;
}
select {
    border-color: gold;
    background-color: black;
    color: gold;
}
.submit-button {
    background-color: black;
    border: 2px solid gold;
    display: inline-block;
    color: gold;
}
.submit-button:hover {
    background-color: green;
}