<!DOCTYPE html>

<html>
    <head>
        <title>Answers</title>
        <link rel="stylesheet" media="screen" href="/static/style.css">
    </head>
    <body>
        <table>
            <tr>
                {% for description in column_name %}
                <th>{{ description }}</th>
                {% endfor %}
            </tr>
            {% for element in answer_list %}
            <tr>
                {% for column in element %}
                <td>{{ column }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <a href="/">Back to main page</a>
    </body>
</html>