<!DOCTYPE html>

<html>
    <head>
        <title>SI Week exercises</title>
    </head>
    <body>
        <h1 style=text-align:center>This is the header</h1>
        <ul style="list-style-type: none">
            <li><a href="/mentors">Mentors and schools page</a></li>
            <li><a href="/all-school">All schools page</a></li>
            <li><a href="/mentors-by-country">Mentors by country</a></li>
            <li><a href="/contacts">Contacts</a></li>
            <li><a href="/applicants">Applicants page</a></li>
            <li><a href="/applicants-and-mentors">Applicants and mentors page</a></li>
        </ul>
    </body>
</html>