<!DOCTYPE html>

<html>
    <head>
        <title>SI Week exercises</title>
        <link rel="stylesheet" media="screen" href="/static/style.css">
    </head>
    <body>
        <h1 style=text-align:center>Super awesome page for SI week material</h1>
        <ul style="list-style-type: none">
            <li><a href="/mentors">Mentors and schools page</a></li>
            <li><a href="/all-school">All schools page</a></li>
            <li><a href="/mentors-by-country">Mentors by country</a></li>
            <li><a href="/contacts">Contacts</a></li>
            <li><a href="/applicants">Applicants page</a></li>
            <li><a href="/applicants-and-mentors">Applicants and mentors page</a></li>
        </ul>
        <form action="{{ url_for('show_full_table') }}" method="POST">
            <select name="name">
                <option>applicants</option>
                <option>mentors</option>
                <option>schools</option>
            </select>
            <button class="submit-button" type="submit" value="Create">Look full table</button>
        </form>
    </body>
</html>